<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安卓游戏下载_安卓中文游戏下载_好玩的手机游戏大全_5577我机网</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/games.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div class="navTop">
    <div class="showOut">
        <p class="word-left">最全的安卓游戏、软件下载站</p>
        <p class="word-right">
            <a href="">手机版</a>
            <i>|</i>
            <a href="">最近更新</a>
            <i>|</i>
            <a href="">安卓排行</a>
            <i>|</i>
            <a href="">安卓专题</a>
            <i>|</i>
            <a href="">论坛转帖</a>
        </p>
    </div>
</div>
<div class="head">
    <div class="showOut">
        <p class="from-logo word-left">
            <a href="/" title="5577我机网">
                <img src="http://www.5577.com/skin/library/images/logo.gif">
            </a>
            <em></em>
        </p>
        <form id="fromForm" method="get" action="">
            <div id="search">
                <input type="text" class="s_into" id="keyword" name="q" placeholder="请搜索您要查找的游戏" autocomplete="off">
                <input type="submit" class="souSuo" value="搜索">
            </div>
        </form>
    </div>
</div>
<div class="nav">
    <ul class="showOut">
        <li>
            <a href="/">首页</a>
        </li>
        <li class="click">
            <a href="/games">游戏</a>
        </li>
        <li>
            <a href="/online">网游</a>
        </li>
        <li>
            <a href="/apply">应用</a>
        </li>
        <li>
            <a href="">资讯</a>
        </li>
        <li>
            <a href="/collection">合集</a>
            <ul class="drop-down">
                <li>
                    <a href="/zhuti">主题标签</a>
                </li>
                <li>
                    <a href="">游戏专区</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">产品库</a>
        </li>
    </ul>
</div>
<div class="gameAd-center">
    <div class="toubu-tp-left">
        <ul class="tupian-sign">
            <li class="tupian-switch">
                <a href="">
                    <img src="http://www.5577.com/up/2017-4/2017411535441641.jpg" alt="类似盗墓长生印的游戏">
                    <strong>类似盗墓长生印的游戏</strong>
                </a>
            </li>
            <li class="tupian-switch hover">
                <a href="">
                    <img src="http://www.5577.com/skin/library/images/game_banner_2.jpg" alt="火柴人联盟最新破解版">
                    <strong>火柴人联盟最新破解版</strong>
                </a>
            </li>
            <li class="tupian-switch hover">
                <a href="">
                    <img src="http://www.5577.com/skin/library/images/game_banner_3.jpg" alt="类似贪吃蛇大作战的游戏">
                    <strong>类似贪吃蛇大作战的游戏</strong>
                </a>
            </li>
        </ul>
        <ul class="tupian-button">
            <li class="this"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="toubu-bar-right">
        <a href="" style="margin-top: 0">
            <img src="http://www.5577.com/skin/library/images/zone_m_bar_a_one.jpg">
            <strong>充值返利平台</strong>
        </a>
        <a href="">
            <img src="http://www.5577.com/skin/library/images/zone_m_bar_a_two.jpg">
            <strong>5577游戏盒子</strong>
        </a>
        <a href="">
            <img src="http://www.5577.com//skin/library/images/zone_m_bar_a_three.jpg">
            <strong>5577手机触屏版</strong>
        </a>
    </div>
</div>
<div class="rongqi-center">
    <div class="anzuo-game-tuijian">
        <div class="title">
            <span>安卓游戏推荐</span>
            <ul>
                <li>
                    <i></i>
                    <a href="">EA</a>
                </li>
                <li>
                    <i></i>
                    <a href="">Glu</a>
                </li>
                <li>
                    <i></i>
                    <a href="">腾讯游戏</a>
                </li>
                <li>
                    <i></i>
                    <a href="">育碧游戏</a>
                </li>
                <li>
                    <i></i>
                    <a href="">游戏排行榜</a>
                </li>
            </ul>
        </div>
        <div class="part-game">
            <ul class="game-list">
                <div class="game-img">
                    <a>
                        <img class="big-img" src="http://pic.5577.com/up/2017-1/20171231914326592.jpg">
                        <div class="rj-info">
                            <img class="small-img" src="http://pic.5577.com/up/2017-1/20171221616222140.png">
                            <div class="info-name">
                                <span class="name">奔跑吧兄弟5跑男小镇无限钻石内购破解版</span>
                                <p>
                                    <span>破解修改汉化</span>
                                    <span>85.8M</span>
                                </p>
                                <img src="http://www.5577.com/skin/library/images/star5.png">
                            </div>
                            <span class="button">立即下载</span>
                        </div>
                    </a>
                </div>
                <li>
                    <a href="" title="神庙逃亡2愚人节内购破解版最新版">
                        <strong>神庙逃亡2愚人节内购破解版最新版</strong>
                        <img src="http://pic.5577.com/up/2017-4/20174183824132.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">41.1M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            9<span>.6</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="贪婪洞窟1.8.0无限金币钻石版">
                        <strong>贪婪洞窟1.8.0无限金币钻石版</strong>
                        <img src="http://pic.5577.com/up/2017-3/20173221438122904.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">77.7M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            8<span>.8</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="地铁跑酷2017新春内购破解版新人物解锁版">
                        <strong>地铁跑酷2017新春内购破解版新人物解锁版</strong>
                        <img src="http://pic.5577.com/up/2017-1/20171111610225110.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">44.9M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            8<span>.1</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="奔跑吧兄弟4无限钻石金币版v1.00.42内购破解版">
                        <strong>奔跑吧兄弟4无限钻石金币版</strong>
                        <img src="http://pic.5577.com/up/2016-4/2016422926564333.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">79.8M</span>
                        <img src="http://www.5577.com/skin/library/images/star5.png">
                        <strong class="num">
                            8<span>.9</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="隐藏我的游戏母亲2汉化版">
                        <strong>隐藏我的游戏母亲2汉化版</strong>
                        <img src="http://pic.5577.com/up/2017-1/2017161650375825.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">21.9M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            9<span>.3</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="密室逃脱10内购破解版v10.16.9完整版">
                        <strong>密室逃脱10内购破解版</strong>
                        <img src="http://pic.5577.com/up/2016-5/2016517951281174.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">47.9M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            8<span>.0</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="全民火线3d破解版v1.0.2无限金币">
                        <strong>全民火线3d破解版</strong>
                        <img src="http://pic.5577.com/up/2015-6/201562310237.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">25.6M</span>
                        <img src="http://www.5577.com/skin/library/images/star5.png">
                        <strong class="num">
                            9<span>.4</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="植物大战僵尸全明星2.0.80无限钻石版">
                        <strong>植物大战僵尸全明星2.0.80无限钻石版</strong>
                        <img src="http://pic.5577.com/up/2016-6/2016620101247874.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改汉化</span>
                        <span class="title">75.1M</span>
                        <img src="http://www.5577.com/skin/library/images/star5.png">
                        <strong class="num">
                            8<span>.2</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="week-new-game">
        <div class="title">
            <span>一周新游</span>
            <a href="">更多+</a>
        </div>
        <div class="img">
            <a href="">
                <img src="http://pic.5577.com/up/2015-11/20151127143427.jpg" alt="一周游戏推荐">
                <p>一周游戏推荐</p>
            </a>
        </div>
        <div class="neirong">
            <ul id="week-game">
                <script type="text/html" id="games">
                    <% for (var i = 0; i < software.length; i++){ %>
                    <li>
                        <a href="">
                            <img src="<%= software[i].img %>" alt="<%= software[i].title %>">
                            <p class="title"><%= software[i].title %></p>
                            <p><%= software[i].size %></p>
                        </a>
                    </li>
                    <% } %>
                </script>
            </ul>
        </div>
    </div>
</div>
<div class="hot-danji">
    <div class="title">
        <span>热门单机</span>
        <div class="game-type">
            <strong class="on">益智</strong>
            |
            <strong>角色扮演</strong>
            |
            <strong>体育竞速</strong>
            |
            <strong>动作</strong>
            |
            <strong>模拟器</strong>
            |
            <strong>射击</strong>
            |
            <strong>策略</strong>
            |
            <strong>棋牌</strong>
            |
            <strong>休闲</strong>
            |
            <strong>破解修改汉化</strong>
            |
            <a href="">更多</a>
        </div>
    </div>
    <div class="m-content">
        <ul class="hover" id="all-puzzle">
            <script type="text/html" id="puzzle">
                <% for (var i = 0; i < software.length; i++){ %>
                <li>
                    <a href="">
                        <img src="<%= software[i].img %>">
                        <p class="title"><%= software[i].title %></p>
                        <p><%= software[i].type %></p>
                    </a>
                </li>
                <% } %>
            </script>
        </ul>
    </div>
</div>
<div class="crack-starter">
    <div class="title">
        <span>破解首发</span>
        <a href="">更多+</a>
    </div>
    <div class="qiehuan">
        <span class="button button-prev"></span>
        <div class="list-img">
            <div class="img-qiehuan">
                <ul class="zd-jiaohan">
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-1/2017125945272937.jpg" alt="神庙逃亡23.8.1内购破解版">
                            <p>神庙逃亡23.8.1内购破解版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-1/2017125917472272.jpg" alt="密室逃脱13秘密任务无限提示内购破解版">
                            <p>密室逃脱13秘密任务无限提示内购破解版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-1/2017125942187514.jpg" alt="火柴人联盟1.11.2内购破解版">
                            <p>火柴人联盟1.11.2内购破解版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2016-11/20161121417402248.jpg" alt="疯狂动物园2017无限金币版">
                            <p>疯狂动物园2017无限金币版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-1/2017125945272937.jpg" alt="神庙逃亡23.8.1内购破解版">
                            <p>神庙逃亡23.8.1内购破解版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-1/2017125917472272.jpg" alt="密室逃脱13秘密任务无限提示内购破解版">
                            <p>密室逃脱13秘密任务无限提示内购破解版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-1/2017125942187514.jpg" alt="火柴人联盟1.11.2内购破解版">
                            <p>火柴人联盟1.11.2内购破解版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2016-11/20161121417402248.jpg" alt="疯狂动物园2017无限金币版">
                            <p>疯狂动物园2017无限金币版</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="button button-after"></span>
    </div>
</div>
<div class="rq-center">
    <div class="apple-games f-fl">
        <div class="title">
            <span>苹果游戏</span>
            <div class="game-type">
                <strong class="hover">IOS单机</strong>
                |
                <strong class="">越狱游戏</strong>
                |
                <a href="">更多</a>
            </div>
        </div>
        <div class="m-content">
            <ul class="hover" id="all-ios">
                <script type="text/html" id="ios">
                    <% for (var i = 0; i < software.length; i++){ %>
                    <li>
                        <a href="">
                            <img class="m-img" src="<%= software[i].img %>">
                            <div class="m-detail">
                                <p class="title"><%= software[i].name %></p>
                                <img src="<%= software[i].assess %>">
                                <p><%= software[i].type %></p>
                                <span class="button">立即下载</span>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </script>
            </ul>
        </div>
    </div>
    <div class="xiaobantuijian f-fr">
        <div class="title">
            <span>小编推荐</span>
        </div>
        <div class="f-content">
            <ul>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2015-12/201512289160.png" alt="迷你世界官网版(沙盒生存)">
                        <p class="name">迷你世界官网版(沙盒生存)</p>
                        <p>55.3M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/201741172517408.png" alt="脱出夜间列车(解谜逃脱)">
                        <p class="name">脱出夜间列车(解谜逃脱)</p>
                        <p>34.1M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/201741156345591.png" alt="植物大战僵尸2现代世界安卓版">
                        <p class="name">植物大战僵尸2现代世界安卓版</p>
                        <p>225.9M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-1/20171221616222140.png" alt="奔跑吧兄弟5跑男小镇无限钻石内购破解版">
                        <p class="name">奔跑吧兄弟5跑男小镇无限钻石内购破解版</p>
                        <p>98.2M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2016-2/201623103359.png" alt="迷之国度1.27无限符文版">
                        <p class="name">迷之国度1.27无限符文版</p>
                        <p>89.8M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/20174183824132.png" alt="神庙逃亡2愚人节内购破解版最新版">
                        <p class="name">神庙逃亡2愚人节内购破解版最新版</p>
                        <p>41.1M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-3/20173311440562990.png" alt="天天酷跑3D电脑版免安装版">
                        <p class="name">天天酷跑3D电脑版免安装版</p>
                        <p>9.5M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-3/20173311427128041.png" alt="比特小队最新测试版">
                        <p class="name">比特小队最新测试版</p>
                        <p>111.6M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-3/2017391620123646.png" alt="小小枪(像素风FPS)Tiny Guns">
                        <p class="name">小小枪(像素风FPS)Tiny Guns</p>
                        <p>34.6M</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="f-center hot-quyu">
    <div class="type-title">
        <ul>
            <li class="on">
                <a href="">
                    <span>热门专区</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>热门分类</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>热门合集</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="m-content">
        <ul>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2017-1/20171211228455467.jpg">
                    <p>支付宝福卡专区</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2016-2/111.jpg">
                    <p>2016央视春晚直播</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up//2016-3/sjzzhd.jpg">
                    <p>谷歌围棋大战直播</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-12/14489565475527158.jpg">
                    <p>2016抢票软件哪个好</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2016-2/13333.jpg">
                    <p>手游SF</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-9/kaixueji.jpg">
                    <p>开学必备app下载</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-5/huaaozhuanti.jpg">
                    <p>花棉袄p图软件下载</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2016-8/2016841518156889.png">
                    <p>2016奥运会直播</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-5/201557162019.jpg">
                    <p>我看起来几岁【How Old Do I Look】电脑版</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.5577.com/skin/xsh/general/images/banner.jpg">
                    <p>植物大战僵尸2</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="bottom">
    <p>
        <a href="">关于我机网</a>
        <i>|</i>
        <a href="">联系方式</a>
        <i>|</i>
        <a href="">发展历程</a>
        <i>|</i>
        <a href="">下载帮助(？)</a>
        <i>|</i>
        <a href="">广告联系</a>
        <i>|</i>
        <a href="">网站地图</a>
        <i>|</i>
        <a href="">友情链接</a>
    </p>
    <p>
        Copyright 2011-2016 5577.com我机网 鄂ICP备15005058号-1
        <span>鄂网文许字【2014】1196</span>
        <span class="gajg">
          <a class="gajg-link" href="">
              <img src="http://www.5577.com/skin/library/images/gongan.png">
              <span class="title">鄂公网安备 42011102000604号</span>
          </a>
      </span>
    </p>
</div>
<div id="gotoBox"><i></i></div>
<aside id="side" class="side-wrap"></aside>
<script src="../static/js/template-web.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/games.js"></script>
<script src="../static/js/ios.js"></script>
<script src="../static/js/weeks-games.js"></script>
</body>
</html>