<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安卓游戏下载_android软件下载_安卓软件下载_5577我机网</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/index.js"></script>
</head>
<body>
<div id="bdshare_s" ></div>
<div class="navTop">
    <div class="showOut">
        <p class="word-left">最全的安卓游戏、软件下载站</p>
        <p class="word-right">
            <a href="">手机版</a>
            <i>|</i>
            <a href="">最近更新</a>
            <i>|</i>
            <a href="">安卓排行</a>
            <i>|</i>
            <a href="">安卓专题</a>
            <i>|</i>
            <a href="">论坛转帖</a>
        </p>
    </div>
</div>
<div class="head">
    <div class="showOut">
        <p class="from-logo word-left">
            <a href="/" title="5577我机网">
                <img src="http://www.5577.com/skin/library/images/logo.gif">
            </a>
            <em></em>
        </p>
        <form id="fromForm" method="get" action="">
          <div id="search">
              <input type="text" class="s_into" id="keyword" name="q" placeholder="请搜索您要查找的游戏" autocomplete="off">
              <input type="submit" class="souSuo" value="搜索">
          </div>
        </form>
    </div>
</div>
<div class="nav">
    <ul class="showOut">
        <li class="click">
            <a href="/">首页</a>
        </li>
         <li>
            <a href="">游戏</a>
        </li>
        <li>
            <a href="">网游</a>
        </li>
        <li>
            <a href="">应用</a>
        </li>
        <li>
            <a href="">资讯</a>
        </li>
        <li>
            <a href="">合集</a>
            <ul class="drop-down"></ul>
        </li>
        <li>
            <a href="">产品库</a>
        </li>
    </ul>
</div>
<div class="page">
    <div class="more showOut">
        <div class="groom edge">
            <p class="by-inside">
            <span>
                <em></em>
                破解游戏
                <i>推荐</i>
            </span>
            <a href="">更多推荐</a>
        </p>
            <ul>
                <li>
                    <a href="" class="yx-chart">
                        <img src="http://pic.5577.com/up/2017-5/20175161020515547.jpg" alt="新大话仙剑体验服版">
                    </a>
                    <a class="yx-name" href="">新大话仙剑体验服</a>
                    <div class="yx-detail">
                        <a href="" class="yx-xtp">
                            <img src="http://pic.5577.com/up/2017-5/2017511171725514.png">
                        </a>
                        <p class="yx-js-name">破解修改</p>
                        <p class="yx-DxRq">
                            05-12
                            <em></em>
                            184.2M
                        </p>
                        <p class="yx-score"></p>
                    </div>
                </li>
                <li>
                    <a class="yx-chart" href="">
                        <img src="http://pic.5577.com/up/2017-5/2017516111058615.jpg" alt="倚天无极手游BT版(上线送VIP)">
                    </a>
                    <a class="yx-name" href="">倚天无极手游BT版(上线送VIP)</a>
                    <div class="yx-detail">
                        <a href="" class="yx-xtp">
                            <img src="http://pic.5577.com/up/2016-11/201611301516226124.png">
                        </a>
                        <p class="yx-js-name">破解修改</p>
                        <p class="yx-DxRq">
                            11-30
                            <em></em>
                            160.2M
                        </p>
                        <p class="yx-score"></p>
                    </div>
                </li>
                   <li>
                    <a class="yx-chart" href="">
                        <img src="http://pic.5577.com/up/2017-4/201741946587240.jpg" alt="龙の谷变态版(上线送12888钻石)">
                    </a>
                    <a class="yx-name" href="">龙の谷变态版(上线送12888钻石)</a>
                    <div class="yx-detail">
                        <a href="" class="yx-xtp">
                            <img src="http://pic.5577.com/up/2017-3/20173151437546504.png">
                        </a>
                        <p class="yx-js-name">破解修改</p>
                        <p class="yx-DxRq">
                            03-15
                            <em></em>
                            134M
                        </p>
                        <p class="yx-score"></p>
                    </div>
                </li>
                <li>
                    <a class="yx-chart" href="">
                        <img src="http://pic.5577.com/up/2017-5/2017516105556709.jpg" alt="霸道天下bt版">
                    </a>
                    <a class="yx-name" href="">霸道天下bt版</a>
                    <div class="yx-detail">
                        <a href="" class="yx-xtp">
                            <img src="http://pic.5577.com/up/2017-3/201732118368976.png">
                        </a>
                        <p class="yx-js-name">破解修改</p>
                        <p class="yx-DxRq">
                            03-02
                            <em></em>
                            318.7M
                        </p>
                        <p class="yx-TwoScore"></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="yx-type edge">
            <div class="show-mode">
                <p class="fl by-inside">
                    <span>
                        <em></em>
                        游戏
                        <i>分类</i>
                    </span>
                    <a href="">更多分类</a>
                </p>
            <ul class="yx-case-type">
                <li class="yx-small-case-type">
                    <ul>
                        <dl class="small-type-top" >
                            <dt>
                                <span>益智游戏</span>
                                <a href="">更多+</a>
                            </dt>
                        </dl>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-5/2017517171443377.png">
                            </a>
                            <p class="rj-name">
                                <a href="">轨迹安卓版(Orbit - Playing with Gravity)</a>
                            </p>
                            <p class="new-bb">
                                版本：v2.1.0
                                <br>更新时间：05-17
                            </p>
                        </li>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/2017329100397231.png">
                            </a>
                            <p class="rj-name">
                                <a href="">Happy Wheels官网版</a>
                            </p>
                            <p class="new-bb">
                                版本：
                                <br>更新时间：03-29
                            </p>
                        </li>

                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/2017324924481715.png">
                            </a>
                            <p class="rj-name">
                                <a href="">Cube Escape:The Cave安卓版</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.3
                                <br>更新时间：03-24
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="yx-small-case-type">
                    <ul>
                        <dl class="small-type-top" >
                            <dt>
                                <span>角色扮演</span>
                                <a href="">更多+</a>
                            </dt>
                        </dl>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-5/2017538537893.png">
                            </a>
                            <p class="rj-name">
                                <a href="">众生游戏最新版</a>
                            </p>
                            <p class="new-bb">
                                版本：v0.4.4
                                <br>更新时间：05-03
                            </p>
                        </li>

                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-4/201746854252611.png">
                            </a>
                            <p class="rj-name">
                                <a href="">TiKiTaKa(111％街机新作)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.7安卓版
                                <br>更新时间：04-06
                            </p>
                        </li>
                          <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/201733110587144.png">
                            </a>
                            <p class="rj-name">
                                <a href="">方块物语地下城(文字RPG)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.6.2安卓版
                                <br>更新时间：03-31
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="yx-small-case-type">
                    <ul>
                        <dl class="small-type-top" >
                            <dt>
                                <span>体育竞速</span>
                                <a href="">更多+</a>
                            </dt>
                        </dl>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-5/20175191123272031.png">
                            </a>
                            <p class="rj-name">
                                <a href="">像素网球(本地多人联机)timber tennis</a>
                            </p>
                            <p class="new-bb">
                                版本：v0.2.33安卓版
                                <br>更新时间：05-19
                            </p>
                        </li>

                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-5/20175161230156665.png">
                            </a>
                            <p class="rj-name">
                                <a href="">强力赛车(赛车竞速)</a>
                            </p>
                            <p class="new-bb">
                                版本：
                                <br>更新时间：05-16
                            </p>
                        </li>
                          <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-4/20174141445452459.png">
                            </a>
                            <p class="rj-name">
                                <a href="">玩命关头8手机免费版(速8正版授权)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.07安卓版
                                <br>更新时间：04-14
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="yx-small-case-type">
                    <ul>
                        <dl class="small-type-top" >
                            <dt>
                                <span>动作游戏</span>
                                <a href="">更多+</a>
                            </dt>
                        </dl>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/2017324950104882.png">
                            </a>
                            <p class="rj-name">
                                <a href="">一击必杀3D(One Finger Death Punch 3D)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.0.255安卓版
                                <br>更新时间：03-24
                            </p>
                        </li>

                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/20173191057437602.png">
                            </a>
                            <p class="rj-name">
                                <a href="">旋转天空安卓版(Skyturns)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.0.4最新版
                                <br>更新时间：03-19
                            </p>
                        </li>
                          <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-2/20172221656134797.png">
                            </a>
                            <p class="rj-name">
                                <a href="">任意箱(本地多人合作对抗)Anycrate</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.0安卓版
                                <br>更新时间：02-22
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="yx-small-case-type">
                    <ul>
                        <dl class="small-type-top" >
                            <dt>
                                <span>射击游戏</span>
                                <a href="">更多+</a>
                            </dt>
                        </dl>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-5/20175161048401035.png">
                            </a>
                            <p class="rj-name">
                                <a href="">敢死队大作战(联机生存)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.1安卓版
                                <br>更新时间：05-16
                            </p>
                        </li>

                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/20173291444291650.png">
                            </a>
                            <p class="rj-name">
                                <a href="">Crazy War安卓版</a>
                            </p>
                            <p class="new-bb">
                                版本：v0.8.8.6
                                <br>更新时间：03-29
                            </p>
                        </li>
                          <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-3/20173229012979.png">
                            </a>
                            <p class="rj-name">
                                <a href="">像素僵尸射击弓箭官方版</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.2安卓版
                                <br>更新时间：03-22
                            </p>
                        </li>
                    </ul>
                </li>
                <li class="yx-small-case-type">
                    <ul>
                        <dl class="small-type-top" >
                            <dt>
                                <span>策略游戏</span>
                                <a href="">更多+</a>
                            </dt>
                        </dl>
                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-4/201741995177785.png">
                            </a>
                            <p class="rj-name">
                                <a href="">岛屿幸存者(Craft Island)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.1安卓版
                                <br>更新时间：04-19
                            </p>
                        </li>

                        <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-4/2017418114463313.png">
                            </a>
                            <p class="rj-name">
                                <a href="">庇护所生存(像素版60</a>
                            </p>
                            <p class="new-bb">
                                版本：v5.0.5安卓版
                                <br>更新时间：04-18
                            </p>
                        </li>
                          <li>
                            <a href="">
                                <img class="yx-rj" src="http://pic.5577.com/up/2017-4/20174131528374427.png">
                            </a>
                            <p class="rj-name">
                                <a href="">生存世界(Mine Survival)</a>
                            </p>
                            <p class="new-bb">
                                版本：v1.3.2安卓版
                                <br>更新时间：04-13
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
            {% include "common/gameLatest.html" %}
        </div>
        <div class="yx-sjwy">
            <p class="seat by-inside">
                <span>
                    <em></em>
                    手机
                    <i>网游</i>
                </span>
                <a href="">更多网游</a>
            </p>
            <div class="other">
                <div class="yx-zxtj">
                    <p class="title">最新推荐</p>
                    <div class="yx-zxtj-case">
                        <div class="xb-case">
                            <p class="chart-xb-tj"></p>
                        </div>
                        <ul>
                            <li>
                                <div class="xbtj-top">
                                    <a href="">
                                        <img src="http://pic.5577.com/up/2017-5/2017511171725514.png">
                                    </a>
                                    <p class="info">
                                        <a href="">新大话仙剑变态版</a>
                                        <img src="http://www.5577.com/skin/library/images/star5.png">
                                        类别：破解修改
                                        <br>
                                        大小：184.2M
                                        <br>
                                        语言：中文
                                    </p>
                                    <p class="wz">新大话仙剑变态版为你提供免费下载试玩，这里是回合制题材游戏爱好者的天堂，相信在这里你将感受到一场全新的战斗之旅！...</p>
                                </div>
                                <ul class="rj-tj-case">
                                    <li>
                                        <a href="">
                                            <img src="http://pic.5577.com/up/2017-1/2017151739191462.png">
                                             传奇1.76手游BT版
                                        </a>
                                    </li>
                                      <li>
                                        <a href="">
                                            <img src="http://pic.5577.com/up/2016-12/20161230836291053.png">
                                              梦幻择天手游BT版(上线送6666元宝)
                                        </a>
                                    </li>
                                     <li>
                                        <a href="">
                                            <img src="http://pic.5577.com/up/2016-11/201611301516226124.png">
                                               倚天无极手游BT版(上线送VIP)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="rj-rmsy">
                    <p class="title">
                        热门手游
                        <span>
                            <i class="hover">推荐</i>
                            l
                            <i class="">五星</i>
                            l
                            <i class="">破解</i>
                        </span>
                    </p>
                    <ul class="tj-xz-yx clearfix">
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-6/2017621611108406.png">
                                <div class="game-xz">
                                    <span class="game-title">仙云志官网版</span>
                                    <span class="game-mold">角色扮演</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-4/20174271340497109.png">
                                <div class="game-xz">
                                    <span class="game-title">真江湖HD体验服版</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-4/2017427134321278.png">
                                <div class="game-xz">
                                    <span class="game-title">真江湖HD手游BT版</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-4/2017427111420256.png">
                                <div class="game-xz">
                                    <span class="game-title">斗破乾坤变态版</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2016-6/20166301744351595.png">
                                <div class="game-xz">
                                    <span class="game-title">真霸王大陆变态版</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-4/20174271025326366.png">
                                <div class="game-xz">
                                    <span class="game-title">梦想诛仙变态版(上线送元宝)</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2016-8/2016823163338524.png">
                                <div class="game-xz">
                                    <span class="game-title">网易秘宝猎人官方版(动作射击)</span>
                                    <span class="game-mold">射击</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-4/20174131119505666.png">
                                <div class="game-xz">
                                    <span class="game-title">怪物猎人口袋版变态版(上线送vip)</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-3/2017331145304161.png">
                                <div class="game-xz">
                                    <span class="game-title">腾讯仙剑奇侠传online</span>
                                    <span class="game-mold">角色扮演</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-3/20173311131498712.png">
                                <div class="game-xz">
                                    <span class="game-title">网易光明大陆手游</span>
                                    <span class="game-mold">角色扮演</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-3/20173161142267969.png">
                                <div class="game-xz">
                                    <span class="game-title">魔兽传奇变态版(充值翻倍)</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                        <li class="game-software">
                            <a class="xz-recall">
                                <img src="http://pic.5577.com/up/2017-3/201731611641483.png">
                                <div class="game-xz">
                                    <span class="game-title">吞食天地ol bt版(上线送vip5)</span>
                                    <span class="game-mold">破解修改</span>
                                </div>
                                <span class="game-enter">立即下载</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="zxsy-sort">
                    <div class="title">
                         最新手游
                        <ul class="yx-xt">
                            <li class="az-hover">安卓</li>
                            <li class="">苹果</li>
                        </ul>
                    </div>
                    <ul>
                        <li class="hover- hover">
                            <i class="num">1</i>
                            <div class="imgbox">
                                <a href="">
                                   <img src="http://pic.5577.com/up/2017-6/2017610134072282.png">
                                </a>
                                <p class="name">
                                    <a href="">最后守护者内购破解版</a>
                                </p>
                                <p class="info">
                                    大小：1KB
                                    <br>
                                    时间
                                    <font style="color: red;">06-10</font>
                                </p>
                            </div>
                            <div class="txtbox">
                                <a href="">最后守护者内购破解版</a>
                                <em>破解修改</em>
                            </div>
                        </li>
                        <li class="hover-">
                            <i class="num">2</i>
                            <div class="imgbox">
                                <a href="">
                                   <img src="http://pic.5577.com/up/2017-6/20176101333504538.png">
                                </a>
                                <p class="name">
                                    <a href="">最后守护者(MMO冒险)</a>
                                </p>
                                <p class="info">
                                    大小：1KB
                                    <br>
                                    时间
                                    <font style="color: red;">06-10</font>
                                </p>
                            </div>
                            <div class="txtbox">
                                <a href="">最后守护者(MMO冒险)</a>
                                <em>角色扮演</em>
                            </div>
                        </li>
                        <li class="hover-">
                            <i class="num">3</i>
                            <div class="imgbox">
                                <a href="">
                                   <img src="http://pic.5577.com/up/2017-6/20176101330153589.png">
                                </a>
                                <p class="name">
                                    <a href="">战争联盟无限汉化版</a>
                                </p>
                                <p class="info">
                                    大小：1KB
                                    <br>
                                    时间
                                    <font style="color: red;">06-10</font>
                                </p>
                            </div>
                            <div class="txtbox">
                                <a href="">战争联盟无限汉化版</a>
                                <em>破解修改</em>
                            </div>
                        </li>
                        <li class="hover-">
                            <i class="">4</i>
                            <div class="imgbox">
                                <a href="">
                                   <img src="http://pic.5577.com/up/2017-6/2017610131549217.png">
                                </a>
                                <p class="name">
                                    <a href="">战争联盟官网版</a>
                                </p>
                                <p class="info">
                                    大小：1KB
                                    <br>
                                    时间
                                    <font style="color: red;">06-10</font>
                                </p>
                            </div>
                            <div class="txtbox">
                                <a href="">战争联盟官网版</a>
                                <em>角色扮演</em>
                            </div>
                        </li>
                        <li class="hover-">
                            <i class="">5</i>
                            <div class="imgbox">
                                <a href="">
                                   <img src="http://pic.5577.com/up/2017-6/20176101155597603.png">
                                </a>
                                <p class="name">
                                    <a href="">太极熊猫3猎龙公测版</a>
                                </p>
                                <p class="info">
                                    大小：665.1M
                                    <br>
                                    时间
                                    <font style="color: red;">06-10</font>
                                </p>
                            </div>
                            <div class="txtbox">
                                <a href="">太极熊猫3猎龙公测版</a>
                                <em>角色扮演</em>
                            </div>
                        </li>
                        <li class="hover-">
                            <i class="">6</i>
                            <div class="imgbox">
                                <a href="">
                                   <img src="http://pic.5577.com/up/2017-6/20176101145452046.png">
                                </a>
                                <p class="name">
                                    <a href="">水果盛宴大狂欢安卓版</a>
                                </p>
                                <p class="info">
                                    大小：1.4M
                                    <br>
                                    时间
                                    <font style="color: red;">06-10</font>
                                </p>
                            </div>
                            <div class="txtbox">
                                <a href="">水果盛宴大狂欢安卓版</a>
                                <em>休闲</em>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="hot-set">
                    <div class="hot-collection">
                        <p class="title hot-left">热门合集</p>
                        <a href="" class="gd">更多+</a>
                    </div>
                    <ul class="hot-chart">
                        <li class="hot-chart-sign">
                            <a href="">
                                <img src="http://pic.5577.com/up/2017-6/2017661422337300.jpg" alt="Steam移植手机游戏">
                                <div class="move-hover">
                                    <p>Steam移植手机游戏</p>
                                    <div class="cover-down">
                                        <p>
                                            为各位玩家朋友们带来众多2017steam移
                                            植到安卓手机平台的游戏大全！
                                            <span style="line-height: 12px">steam有很多非常优秀的游戏，很多玩家都是非常的喜欢。但是由于一些其他原因你们不能
                                            玩，那怎么办？这些游戏厂商为推出众多的手机移植版本，让你轻松享受游戏快感。Steam移植安卓游戏现已整理推出，喜欢的玩家朋友们可不要错过咯，现在就来看看哪一款是你们期待和感兴趣的吧</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="hot-chart-sign">
                            <a href="">
                                <img src="http://pic.5577.com/up/2017-6/201765194143623.jpg" alt="很火的泼墨字软件">
                                <div class="move-hover">
                                    <p>很火的泼墨字软件</p>
                                    <div class="cover-down">
                                        <p>
                                            最近网上非常流行泼墨字，很多人还不知道用过什么软件可以制作泼墨字。不知道
                                            泼墨字软件叫什么，本站为大家整理了一些最近非常火的泼墨字软件下载资源，其中无疑是以zenbrush2和picsart这两款软件，喜欢泼墨字风格的朋友赶紧来下载吧！
                                            <span style="line-height: 12px">zenbrush泼墨字教程、</span>
                                            <span style="line-height: 12px">picsart泼墨字教程分享给大家！</span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="hot-chart-sign">
                            <a href="">
                                <img src="http://pic.5577.com/up/2017-6/201761195215242.jpg" alt="类似监狱建筑师">
                                <div class="move-hover">
                                    <p>很火的泼墨字软件</p>
                                    <div class="cover-down">
                                        <p>
                                            类似监狱建筑师
                                            <span style="line-height: 12px">
                                                类似监狱建筑师的手机游戏分享给大家。监狱建筑师这款经典的监狱逃脱游戏终于来到了手机上，很多试玩过的玩家们反应
                                                都很不错，想寻找一些玩法差不多的手机游戏，这里小编为大家整理了一下，大家可以挑选喜欢的下载！
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="hot-chart-sign">
                            <a href="">
                                <img src="http://pic.5577.com/up/2017-6/201761194296510.jpg" alt="类似地上终末之日生存">
                                <div class="move-hover">
                                    <p>类似地上终末之日生存</p>
                                    <div class="cover-down">
                                        <p>
                                            地上终末之日生存是一个僵尸生存游戏。游戏中玩家操控主角在地球末日中挣扎求生，高自由度的沙盒地图让游戏更加耐玩
                                            和充满不可预见性。“生存、沙盒”这两个元素可谓是近几年游戏中的大热词，这里小编就为大家整理了一些和地上终末之日差不多的生存手机游戏，大家可以选择喜欢的下载！
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
               </div>
            </div>
        </div>
        {% include "common/hot-topics.html" %}
        {% include "common/game-beauty.html" %}
        {% include "common/ranking-list.html" %}
        {% include "common/friendly-link.html" %}
    </div>
</div>
<div class="bottom">
  <p>
      <a href="">关于我机网</a>
      <i>|</i>
      <a href="">联系方式</a>
      <i>|</i>
      <a href="">发展历程</a>
      <i>|</i>
      <a href="">下载帮助(？)</a>
      <i>|</i>
      <a href="">广告联系</a>
      <i>|</i>
      <a href="">网站地图</a>
      <i>|</i>
      <a href="">友情链接</a>
  </p>
  <p>
     Copyright 2011-2016 5577.com我机网  鄂ICP备15005058号-1
     <span>鄂网文许字【2014】1196</span>
      <span class="gajg">
          <a class="gajg-link" href="">
              <img  src="http://www.5577.com/skin/library/images/gongan.png">
              <span class="title">鄂公网安备 42011102000604号</span>
          </a>
      </span>
  </p>
</div>
<div id="gotoBox"><i></i></div>
<aside id="side" class="side-wrap"></aside>
<script src="../static/js/template-web.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/game-latest.js"></script>
</body>
</html>