<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>手机网游下载_安卓手游下载_好玩的手机网游推荐_5577我机网</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/games.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/games.js"></script>
</head>
<body>
<div class="navTop">
    <div class="showOut">
        <p class="word-left">最全的安卓游戏、软件下载站</p>
        <p class="word-right">
            <a href="">手机版</a>
            <i>|</i>
            <a href="">最近更新</a>
            <i>|</i>
            <a href="">安卓排行</a>
            <i>|</i>
            <a href="">安卓专题</a>
            <i>|</i>
            <a href="">论坛转帖</a>
        </p>
    </div>
</div>
<div class="head">
    <div class="showOut">
        <p class="from-logo word-left">
            <a href="/" title="5577我机网">
                <img src="http://www.5577.com/skin/library/images/logo.gif">
            </a>
            <em></em>
        </p>
        <form id="fromForm" method="get" action="">
            <div id="search">
                <input type="text" class="s_into" id="keyword" name="q" placeholder="请搜索您要查找的游戏" autocomplete="off">
                <input type="submit" class="souSuo" value="搜索">
            </div>
        </form>
    </div>
</div>
<div class="nav">
    <ul class="showOut">
        <li>
            <a href="/">首页</a>
        </li>
        <li>
            <a href="/games">游戏</a>
        </li>
        <li class="click">
            <a href="/online">网游</a>
        </li>
        <li>
            <a href="/apply">应用</a>
        </li>
        <li>
            <a href="">资讯</a>
        </li>
        <li>
            <a href="/collection">合集</a>
            <ul class="drop-down">
                <li>
                    <a href="/zhuti">主题标签</a>
                </li>
                <li>
                    <a href="">游戏专区</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="">产品库</a>
        </li>
    </ul>
</div>

<div class="gameAd-center">
    <div class="toubu-tp-left">
        <ul class="tupian-sign">
            <li class="tupian-switch">
                <a href="">
                    <img src="http://www.5577.com/up/2016-12/14830894871492704.jpg" alt="新年福利游戏大盘点">
                    <strong>新年福利游戏大盘点</strong>
                </a>
            </li>
            <li class="tupian-switch down">
                <a href="">
                    <img src="http://www.5577.com/up/2017-5/20175241743403227.jpg" alt="腾讯天龙八部手游专区">
                    <strong>腾讯天龙八部手游专区</strong>
                </a>
            </li>
            <li class="tupian-switch down">
                <a href="">
                    <img src="http://www.5577.com/up/2017-1/2017125118406295.png" alt="bt手游">
                    <strong>无限钻石金币vip免费手游</strong>
                </a>
            </li>
        </ul>
        <ul class="tupian-button">
            <li class="this"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="toubu-bar-right">
        <a href="" style="margin-top: 0">
            <img src="http://www.5577.com/skin/library/images/zone_m_bar_a_one.jpg">
            <strong>充值返利平台</strong>
        </a>
        <a href="">
            <img src="http://www.5577.com/skin/library/images/zone_m_bar_a_two.jpg">
            <strong>5577游戏盒子</strong>
        </a>
        <a href="">
            <img src="http://www.5577.com//skin/library/images/zone_m_bar_a_three.jpg">
            <strong>5577手机触屏版</strong>
        </a>
    </div>
</div>
<div class="rongqi-center">
    <div class="anzuo-game-tuijian">
        <div class="title">
            <span>安卓游戏推荐</span>
            <ul>
                <li>
                    <i></i>
                    <a href="">EA</a>
                </li>
                <li>
                    <i></i>
                    <a href="">Glu</a>
                </li>
                <li>
                    <i></i>
                    <a href="">腾讯游戏</a>
                </li>
                <li>
                    <i></i>
                    <a href="">育碧游戏</a>
                </li>
                <li>
                    <i></i>
                    <a href="">游戏排行榜</a>
                </li>
            </ul>
        </div>
        <div class="part-game">
            <ul class="game-list">
                <div class="game-img">
                    <a>
                        <img class="big-img" src="http://pic.5577.com/up/2017-6/20176231033394666.jpg">
                        <div class="rj-info">
                            <img class="small-img" src="http://pic.5577.com/up/2017-6/2017623108444453.png">
                            <div class="info-name">
                                <span class="name">烈火屠龙(合击传奇)</span>
                                <p>
                                    <span>角色扮演</span>
                                    <span>398.5M</span>
                                </p>
                                <img src="http://www.5577.com/skin/library/images/star3.png">
                            </div>
                            <span class="button">立即下载</span>
                        </div>
                    </a>
                </div>
                <li>
                    <a href="" title="成吉思汗官方手游(端游移植)v1.002003.1移动版">
                        <strong>成吉思汗官方手游(端游移植)</strong>
                        <img src="http://pic.5577.com/up/2017-4/2017411055527176.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">角色扮演</span>
                        <span class="title">876.3M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            8<span>.1</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="网易光明大陆手游v1.165917.167505">
                        <strong>网易光明大陆手游</strong>
                        <img src="http://pic.5577.com/up/2017-3/20173311131498712.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">角色扮演</span>
                        <span class="title">571.8M</span>
                        <img src="http://www.5577.com/skin/library/images/star3.png">
                        <strong class="num">
                            8<span>.9</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="网易迷雾世界手游(3D魔幻)v1.0.16安卓版">
                        <strong>网易迷雾世界手游(3D魔幻)</strong>
                        <img src="http://pic.5577.com/up/2017-3/20173271055212218.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">角色扮演</span>
                        <span class="title">517.5M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            9<span>.3</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="魔法门挂机(放置类挂机)v2.1官网下载">
                        <strong>魔法门挂机(放置类挂机)</strong>
                        <img src="http://pic.5577.com/up/2016-9/20169221522251743.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">角色扮演</span>
                        <span class="title">66.7M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            8<span>.0</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="真江湖HD手游BT版">
                        <strong>真江湖HD手游BT版</strong>
                        <img src="http://pic.5577.com/up/2017-4/2017427134321278.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改</span>
                        <span class="title">281M</span>
                        <img src="http://www.5577.com/skin/library/images/star5.png">
                        <strong class="num">
                            9<span>.6</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="斗破乾坤变态版">
                        <strong>斗破乾坤变态版</strong>
                        <img src="http://pic.5577.com/up/2017-4/2017427111420256.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改</span>
                        <span class="title">88.7M</span>
                        <img src="http://www.5577.com/skin/library/images/star5.png">
                        <strong class="num">
                            8<span>.8</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="究极数码暴龙手游(数码宝贝动漫改编)v2.1.2官方版">
                        <strong>究极数码暴龙手游(数码宝贝动漫改编)</strong>
                        <img src="http://pic.5577.com/up/2015-11/2015111617822.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">角色扮演</span>
                        <span class="title">80.5M</span>
                        <img src="http://www.5577.com/skin/library/images/star4.png">
                        <strong class="num">
                            9<span>.4</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
                <li>
                    <a href="" title="传奇1.76手游BT版">
                        <strong>传奇1.76手游BT版</strong>
                        <img src="http://pic.5577.com/up/2017-1/2017151739191462.png">
                    </a>
                    <div class="rj-xingxi">
                        <span class="title">破解修改</span>
                        <span class="title">243.1M</span>
                        <img src="http://www.5577.com/skin/library/images/star5.png">
                        <strong class="num">
                            8<span>.2</span>
                        </strong>
                        <p class="down-shoucang">
                            <a class="down" href=""></a>
                            <a class="shoucang"></a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="week-new-game">
        <div class="title">
            <span>一周手游</span>
            <a href="">更多+</a>
        </div>
        <div class="img">
            <a href="">
                <img src="http://pic.5577.com/up/2015-11/20151127143427.jpg" alt="一周游戏推荐">
                <p>一周手游推荐</p>
            </a>
        </div>
        <div class="neirong">
            <ul id="week-game">
                <script type="text/html" id="games">
                    <% for (var i = 0; i < software.length; i++){ %>
                    <li>
                        <a href="">
                            <img src="<%= software[i].img %>" alt="<%= software[i].name %>">
                            <p class="title"><%= software[i].name %></p>
                            <p><%= software[i].size %></p>
                        </a>
                    </li>
                    <% } %>
                </script>
            </ul>
        </div>
    </div>
</div>
<div class="crack-starter recharge-MobileGames">
    <div class="title">
        <span>充值福利手游</span>
        <a href="">更多+</a>
    </div>
    <div class="qiehuan">
        <span class="button button-prev"></span>
        <div class="list-img">
            <div class="img-qiehuan">
                <ul class="zd-jiaohan">
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/20175241829577132.jpg" alt="王下七武海手游BT版">
                            <p>王下七武海手游BT版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/20175241828471864.jpg" alt="斗破乾坤体验服版">
                            <p>斗破乾坤体验服版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/20175241831348599.jpg" alt="我叫MT:奇幻之旅手游BT版">
                            <p>我叫MT:奇幻之旅手游BT版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/2017524183326129.jpg" alt="X战娘VR版手游体验版">
                            <p>X战娘VR版手游体验版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/20175241829577132.jpg" alt="王下七武海手游BT版">
                            <p>王下七武海手游BT版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/20175241828471864.jpg" alt="斗破乾坤体验服版">
                            <p>斗破乾坤体验服版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/20175241831348599.jpg" alt="我叫MT:奇幻之旅手游BT版">
                            <p>我叫MT:奇幻之旅手游BT版</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="http://pic.5577.com/up/2017-5/2017524183326129.jpg" alt="X战娘VR版手游体验版">
                            <p>X战娘VR版手游体验版</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <span class="button button-after"></span>
    </div>
</div>

<div class="hot-danji">
    <div class="title">
        <span>热门网游</span>
        <div class="game-type">
            <strong class="on">角色扮演</strong>
            |
            <strong>策略</strong>
            |
            <strong>休闲</strong>
            |
            <strong>射击</strong>
            |
            <strong>体育竞技</strong>
            |
            <strong>模拟养成</strong>
            |
            <strong>破解修改</strong>
            |
            <a href="">更多</a>
        </div>
    </div>
    <div class="m-content">
        <ul class="hover" id="hot-online">
            <script type="text/html" id="online">
                <% for (var i = 0; i < software.length; i++){ %>
                <li>
                    <a href="">
                        <img src="<%= software[i].img %>">
                        <p class="title"><%= software[i].name %></p>
                        <p><%= software[i].type %></p>
                    </a>
                </li>
                <% } %>
            </script>
        </ul>
    </div>
</div>
<div class="rq-center">
    <div class="apple-games f-fl">
        <div class="title">
            <span>苹果游戏</span>
            <div class="game-type">
                <strong class="hover">IOS手游</strong>
                |
                <strong class="">越狱游戏</strong>
                |
                <a href="">更多</a>
            </div>
        </div>
        <div class="m-content">
            <ul class="hover" id="apple-game">
                <script type="text/html" id="apple">
                    <% for (var i = 0; i < software.length; i++){ %>
                    <li>
                        <a href="">
                            <img class="m-img" src="<%= software[i].img %>">
                            <div class="m-detail">
                                <p class="title"><%= software[i].name %></p>
                                <img src="<%= software[i].assess %>">
                                <p><%= software[i].type %></p>
                                <span class="button">立即下载</span>
                            </div>
                        </a>
                    </li>
                    <% } %>
                </script>
            </ul>
        </div>
    </div>
    <div class="xiaobantuijian f-fr">
        <div class="title">
            <span>小编推荐</span>
        </div>
        <div class="f-content">
            <ul>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-6/2017623108444453.png" alt="烈火屠龙(合击传奇)">
                        <p class="name">烈火屠龙(合击传奇))</p>
                        <p>398.5M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-6/2017621611108406.png" alt="仙云志官网版">
                        <p class="name">仙云志官网版</p>
                        <p>126.3M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/2017427134321278.png" alt="真江湖HD手游BT版">
                        <p class="name">真江湖HD手游BT版</p>
                        <p>281M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/2017427111420256.png" alt="斗破乾坤变态版">
                        <p class="name">斗破乾坤变态版</p>
                        <p>88.7M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2016-8/2016823163338524.png" alt="网易秘宝猎人官方版(动作射击)">
                        <p class="name">网易秘宝猎人官方版(动作射击)</p>
                        <p>270.6M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/2017418828353538.png" alt="傲世传奇手游变态版(充值优惠)">
                        <p class="name">傲世传奇手游变态版(充值优惠)</p>
                        <p>189.9M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-3/20173201814396363.png" alt="蓝月传世变态版">
                        <p class="name">蓝月传世变态版</p>
                        <p>223.4M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/20174121629335752.png" alt="丛林法则游戏(Wild Animals Online)">
                        <p class="name">丛林法则游戏(Wild Animals Online)</p>
                        <p>26M</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="http://pic.5577.com/up/2017-4/201747181835145.png" alt="传奇无双安卓版">
                        <p class="name">传奇无双安卓版</p>
                        <p>166.7M</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="f-center hot-quyu">
    <div class="type-title">
        <ul>
            <li class="on">
                <a href="">
                    <span>热门专区</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>热门分类</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span>热门合集</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="m-content">
        <ul>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2017-1/20171211228455467.jpg">
                    <p>支付宝福卡专区</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2016-2/111.jpg">
                    <p>2016央视春晚直播</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up//2016-3/sjzzhd.jpg">
                    <p>谷歌围棋大战直播</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-12/14489565475527158.jpg">
                    <p>2016抢票软件哪个好</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2016-2/13333.jpg">
                    <p>手游SF</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-9/kaixueji.jpg">
                    <p>开学必备app下载</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-5/huaaozhuanti.jpg">
                    <p>花棉袄p图软件下载</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2016-8/2016841518156889.png">
                    <p>2016奥运会直播</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://pic.5577.com/up/2015-5/201557162019.jpg">
                    <p>我看起来几岁【How Old Do I Look】电脑版</p>
                </a>
            </li>
            <li>
                <a href="">
                    <img src="http://www.5577.com/skin/xsh/general/images/banner.jpg">
                    <p>植物大战僵尸2</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="bottom">
    <p>
        <a href="">关于我机网</a>
        <i>|</i>
        <a href="">联系方式</a>
        <i>|</i>
        <a href="">发展历程</a>
        <i>|</i>
        <a href="">下载帮助(？)</a>
        <i>|</i>
        <a href="">广告联系</a>
        <i>|</i>
        <a href="">网站地图</a>
        <i>|</i>
        <a href="">友情链接</a>
    </p>
    <p>
        Copyright 2011-2016 5577.com我机网 鄂ICP备15005058号-1
        <span>鄂网文许字【2014】1196</span>
        <span class="gajg">
          <a class="gajg-link" href="">
              <img src="http://www.5577.com/skin/library/images/gongan.png">
              <span class="title">鄂公网安备 42011102000604号</span>
          </a>
      </span>
    </p>
</div>
<div id="gotoBox"><i></i></div>
<aside id="side" class="side-wrap"></aside>
<script src="../static/js/template-web.js"></script>
<script src="../static/js/jquery.js"></script>
<script src="../static/js/online.js"></script>
</body>
</html>